name: Deploy to Firebase and GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      # --- FIREBASE DEPLOYMENT ---
      - name: Build for Firebase (Production)
        run: npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ARECOFIX }}'
          channelId: live
          projectId: arecofix
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks

      # --- GITHUB PAGES DEPLOYMENT ---
      - name: Build for GitHub Pages (Base Href)
        run: npx ng build --configuration production --base-href /Arecofixpage/

      - name: Deploy to GitHub Pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx angular-cli-ghpages --dir=dist/arecofix/browser --no-silent
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}